<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-image: url('.jpeg'); background-size: cover;">
    <h1 style="text-align: center; font-size: 36px; font-weight: bold; color: darkpink; margin-top: 20px;"></h1>
    <div style="text-align: center;">
        <img src="OnewayConnectLogo.jpeg" alt="Company Logo" style="max-width: 300px; margin: 20px auto;">
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; padding: 20px;">
            <h2 style="font-size: 24px; margin-bottom: 10px; color: black;">Register</h2>
            <a href="/register" style="display: inline-block; padding: 10px 20px; background-color: darkpink; color: black; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; text-align: center; text-decoration: none;">Register Now</a>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; padding: 20px;">
            <h2 style="font-size: 24px; margin-bottom: 10px; color: black;">Login</h2>
            <a href="/login" style="display: inline-block; padding: 10px 20px; background-color: darkpink; color: black; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; text-align: center; text-decoration: none;">Login Now</a>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center; padding: 20px;">
            <h2 style="font-size: 24px; margin-bottom: 10px; color: black;">About Us</h2>
            <p style="font-size: 16px; margin-bottom: 20px; color: black;">Learn more about our web app and what we offer. We are an AI empowered recruitment technology that allows you to assess cultural fit and skills competent. Our technology matches you with best candidates in a matter of minutes. Instead of going through CVs one by one, our Ai technology scans through CVs in minute, saving you time and resources </p>
            <a href="/about" style="display: inline-block; padding: 10px 20px; background-color: darkpink; color: black; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; text-align: center; text-decoration: none;">Learn More</a>
        </div>
    </div>
</body>
</html>
